.gh-featured-title,
.gh-container-title {
	color: #{var(--md-sys-color-primary)};
}

.gh-container.is-list .gh-card-image {
	flex-grow: 1;
}

.gh-featured-title {
	padding-bottom: 0rem;
}

.gh-header-middle {
	.gh-card-image {
		aspect-ratio: 16/7;
	}
}

.gh-header.is-highlight .gh-featured {
	height: 100%;
}

.gh-featured-inner {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.gh-header.is-highlight .gh-featured-feed {
	justify-content: space-around;
	flex-grow: 1;
}